.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 438px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-bottom: 4px double black;
}

.menus button {
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover {
    background-color: beige;
}

.news-img-size {
    max-width: 100%;
    max-height: 250px;
}

.news {
    border-bottom: 1px solid black;
}

.search {
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-top: 10px;
}

#search-input {
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
  }

.search-button {
    height: 30px; /* input과 동일한 높이로 설정 */
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    border: none;
}

.search-button img {
    height: 20px; /* 아이콘 크기 조정 */
    width: 20px;
    display: flex;
    justify-content: center; /* 가로로 중앙 정렬 */
    align-items: center; /* 세로로 중앙 정렬 */
  }